<mat-card>
  <mat-card-header>
    <mat-card-title> {{ hero.name }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>UUID:</strong> {{ hero.id }}</p>
    <p><strong>Età:</strong> {{ hero.age }}</p>
    <p><strong>Sesso:</strong> {{ hero.sex }}</p>
    <p><strong>Segni particolari:</strong> {{ hero.particular_signs }}</p>
    <p><strong>Note: </strong>{{ hero.notes }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button matDialogClose color="success">Chiudi</button>
  </mat-card-actions>
</mat-card>
