<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput [(ngModel)]="hero.name" name="name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Età:</mat-label>
        <input matInput [(ngModel)]="hero.age" name="age">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Sesso:</mat-label>
        <input matInput [(ngModel)]="hero.sex" name="sex">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Segni particolari:</mat-label>
        <input matInput [(ngModel)]="hero.particular_signs" name="particular_signs">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Note:</mat-label>
        <input matInput [(ngModel)]="hero.notes" name="notes">
      </mat-form-field>
      <br>
      <mat-label *ngIf="showSaveMessage" style="color: green"> {{ saveMessage }} </mat-label>
      <br *ngIf="showSaveMessage">
      <mat-label *ngIf="showErrorMessage" style="color: red"> {{ errorMessage }} </mat-label>
      <br *ngIf="showErrorMessage">
      </form>
    <button mat-raised-button style="margin-right: 10px;" color="success" (click)="saveDetails()">Salva</button>
    <button mat-raised-button style="margin-right: 10px;" matDialogClose color="success">Chiudi</button>
  </mat-card-content>
</mat-card>
