<mat-card>
  <mat-card-header>
    <mat-card-title> Sei sicuro di voler eliminare {{ hero.name }}? </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button matDialogClose (click)="deleteHero()" color="success">Elimina</button>
    <button mat-raised-button matDialogClose color="success">Annulla</button>
  </mat-card-actions>
</mat-card>
