<mat-toolbar>
  <span>Benvenuto!</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" placeholder="username" name="username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" placeholder="********" type="password" name="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/list" (click)="onSubmit(); resetForm()" color="primary">Entra</button>
  </mat-card-actions>
</mat-card>
