<mat-card>
  <mat-card-content>
    <form>
      <br>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput [(ngModel)]="name" name="name" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Età:</mat-label>
        <input matInput [(ngModel)]="age" name="age" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Sesso:</mat-label>
        <input matInput [(ngModel)]="sex" name="sex" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Segni particolari:</mat-label>
        <input matInput [(ngModel)]="particular_signs" name="particular_signs">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Note:</mat-label>
        <input matInput [(ngModel)]="notes" name="notes">
      </mat-form-field>
      <br>
      </form>
      <br>
      <mat-label *ngIf="showError" style="color: red"> {{ error }} </mat-label>
      <br *ngIf="showError">
      <mat-label *ngIf="showConditionError" style="color: red"> {{ conditionError }} </mat-label>
      <br *ngIf="showConditionError">
      <mat-label *ngIf="showSuccess" style="color: green"> {{ success }} </mat-label>
      <br *ngIf="showSuccess">
    <button mat-raised-button style="margin-right: 10px;" color="success" (click)="createHero()">Crea</button>
    <button mat-raised-button style="margin-right: 10px;" matDialogClose color="success">Annulla</button>
  </mat-card-content>
</mat-card>
