<div style="margin: 10px;">
  <mat-form-field>
    <mat-label for="name">Nome: </mat-label>
    <input matInput #name id="name" [(ngModel)]="nameFilter">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="maxAge">Eta' minima: </mat-label>
    <input matInput #maxAge id="maxAge" [(ngModel)]="maxAgeFilter">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="minAge">Eta' massima: </mat-label>
    <input matInput #minAge id="minAge" [(ngModel)]="minAgeFilter">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Sesso" [(ngModel)]="sexFilter" name="sex">
      <mat-option *ngFor="let sex of sexList" [value]="sex">{{ sex }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button style="margin-right: 10px;" (click)="filter()">Applica</button>
  <button mat-raised-button style="margin-right: 10px;" (click)="resetFilters(); filter()">Resetta</button>
</div>
