<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    <app-filter></app-filter>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <button mat-raised-button style="position: absolute;right: 13px;top: 13px;" (click)="createDialog()">Crea</button>
      <button mat-raised-button (click)="refreshList()">Ricarica eroi</button>
    </mat-toolbar>
    <div class="main-content">
      <mat-table [dataSource]="heroes" matSort>
        <ng-container matColumnDef="UUID">
          <mat-header-cell mat-sort-header *matHeaderCellDef> UUID </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.id | slice:0:10}} [...] </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef> Eta' </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.age}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef> Sesso </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.sex}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="particular_signs">
          <mat-header-cell *matHeaderCellDef> Segni particolari </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.particular_signs}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="notes">
          <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
          <mat-cell *matCellDef="let hero"> {{hero.notes}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Azioni </mat-header-cell>
          <mat-cell *matCellDef="let hero">
            <mat-icon style="margin:10px; cursor: pointer;" (click)="detailDialog(hero)">visibility_on</mat-icon>
            <mat-icon style="margin:10px; cursor: pointer;" (click)="editDialog(hero)">edit</mat-icon>
            <mat-icon style="margin:10px; cursor: pointer;" (click)="deleteDialog(hero)">delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
